.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 5rem 1rem;
  justify-content: center;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem auto;
  padding: 4rem 0;
  width: 100%;
  max-width: 30rem;
  background: var(--color-medium);
  color: var(--color-dark);
  border-radius: 0.5rem;
  gap: 1rem;
}

.login h1 {
  align-self: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.login h2 {
  align-self: center;
  margin-bottom: 1rem;
}

.row {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  min-width: 15rem;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.actions .btn {
  width: 50%;
}

.messageBox {
  display: flex;
  justify-content: center;
  height: 2rem;
}

.messageBox span {
  color: var(--color-alert);
}
