.actionBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--color-dark);
  border: none;
  gap: 0.3rem;
  width: 100%;
  height: 100%;
  box-shadow: 1rem;
  border-radius: 0.2rem;
  background: var(--color-medium);
}

.actionBtn:active {
  transform: translateY(1px);
}
