.error {
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  text-align: center;
  margin: 4rem 3rem;
  height: 22rem;
}

.error .message {
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 1.5rem;
  color: var(--color-accent);
}

@media screen and (min-width: 480px) {
  .error {
    margin: 7rem 7rem;
  }
}
