.row {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  width: 15rem;
  gap: 0.3rem;
}

.row input {
  border: none;
  font-weight: 300;
  padding: 0.4rem 1rem;
  font-size: 1rem;
  border-radius: 0.7rem;
  background: var(--color-medium);
  color: var(--color-dark);
}
