.list {
  margin: 0rem 3rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  justify-content: center;
}

@media screen and (min-width: 700px) {
  .list {
    grid-template-columns: 1fr 1fr;
    margin: 2rem 3rem;
    padding: 0 4rem;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1900px) {
  .list {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 8rem;
    gap: 3rem;
  }
}
