.game {
  position: relative;
  border-radius: 0.8rem;
  flex-direction: column;
  text-align: center;
  width: 17rem;
  display: flex;
  color: var(--color-darkest);
  background: var(--color-medium);
}

.game .img {
  width: 100%;
  height: 12rem;
  object-fit: fill;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  margin-bottom: 0.5rem;
}

.game .body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin: 0.5rem 1rem 0.3rem 1rem;
  background: var(--color-medium);
}
.game .title {
  margin-top: 0.5rem;
  font-family: 'Bonus Giant', sans-serif;
  line-height: 1.4rem;
}

.game .description {
  display: flex;
  line-height: 1.2rem;
  padding: 1rem;
}

.game .genre {
  font-size: 0.8rem;
  padding: 0.3rem;
  background: var(--color-accent);
  margin-bottom: 1rem;
}

.genreBox {
  position: absolute;
  right: 0.8rem;
  display: flex;
}

.game h3 {
  font-family: 'Ysabeau SC', sans-serif;
  align-self: flex-end;
  font-size: 0.8rem;
}

.starsBox,
.heartBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
}
