.list {
  margin: 0rem 3rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  justify-content: center;
}

@media screen and (min-width: 480px) {
  .list {
    grid-template-columns: 1fr 1fr;
    margin: 2rem auto;
    padding: 0 2rem;
    gap: 2rem;
  }
}

@media screen and (min-width: 769px) {
  .list {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 4rem;
    margin: 3rem 4rem;
  }
}
