.tabsContainer {
  font-family: 'Roboto', sans-serif;
  background: var(--color-dark);
  width: 100%;
  border-radius: 0.7rem;
  padding: 0.3rem 0;
  overflow: hidden;
  position: relative;
}

.tabsContainer .arrow {
  width: 2rem;
  height: 2rem;
  padding: 0.4rem;
  cursor: pointer;
  color: var(--color-light);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  user-select: none;
}

.tabsContainer ul {
  display: flex;
  gap: 0.7rem;
  padding: 0.5rem 2.5rem;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.center {
  justify-content: center;
}

.tabsContainer ul::-webkit-scrollbar {
  display: none;
}

.tabsContainer a {
  font-family: 'Ysabeau SC', sans-serif;
  font-size: 0.8rem;
  color: var(--color-darkest);
  text-decoration: none;
  background: var(--color-medium);
  padding: 0.5rem 1rem;
  display: inline-block;
  border-radius: 0.3rem;
  user-select: none;
  white-space: nowrap;
}

.tabsContainer a.active {
  background: var(--color-theme);
  color: black;
}

.tabsContainer .rightArrow,
.tabsContainer .leftArrow {
  position: absolute;
  height: 100%;
  width: 3rem;
  top: 0;
  display: flex;
  align-items: center;
}

.tabsContainer .rightArrow {
  right: 0;
  background: linear-gradient(to left, var(--color-dark) 30%, transparent);
  display: flex;
  justify-content: flex-end;
  padding: 0 0.2rem;
}

.tabsContainer .leftArrow {
  background: linear-gradient(to right, var(--color-dark) 30%, transparent);
  padding: 0 0.2rem;
}

.tabsContainer .arrow:hover {
  color: var(--color-medium);
}
