.alertContainer {
  display: flex;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  align-items: center;
  color: var(--color-dark);
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
  gap: 2rem;
}

.message {
  width: 100%;
  justify-content: center;
}

.actions {
  display: flex;
  justify-content: space-between;
  width: 70%;
  height: 2rem;
  gap: 1rem;
}

.actions button {
  width: 45%;
}

@media screen and (min-width: 700px) {
  .actions {
    width: 50%;
  }
}
