.navBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.9rem;
  gap: 1rem;
}

.navBar .top {
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
  width: 100%;
}

.navBar .top h1 {
  font-size: 1rem;
}

.navBar .btn {
  width: 5rem;
  height: 2rem;
}

.navBar .search {
  display: flex;
  justify-content: center;
  width: 100%;
}

.navBar .actions {
  display: flex;
}
