.navBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.9rem;
  gap: 1rem;
}

.navBar .top {
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
  width: 100%;
}

.navBar .top h1 {
  font-size: 1rem;
}

.navBar .search {
  display: flex;
  justify-content: center;
  width: 100%;
}

.navBar .actions {
  display: flex;
}

@media screen and (min-width: 480px) {
  .navBar {
    flex-direction: row;
  }
  .navBar h1 {
    font-size: 1.2rem;
    margin: 0;
  }
}
